{% extends "layout.html.twig" %}

{% block title %}Users{% endblock %}

{% block content %}

    <form class="user-search-form">
        <div class="form-group col-sm-10">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <div class="form-group col-sm-2">
            <select class="form-control">
                <option>Firstname</option>
                <option>Nickname</option>
                <option>Lastname</option>
                <option>Age</option>
            </select>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Nickname</th>
                <th>Age</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
